.hero {
  height: 100vh;
  background-image: url('https://pbs.twimg.com/media/FBQmPmIVEAEy7KZ?format=jpg&name=4096x4096');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mask {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center;
}
